body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    background-color: rgb(29, 27, 28);
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    padding-bottom: 12px;
}
.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: #443f3f;
    border-radius: 4px;
    padding: 12px 10px;
}
.logo a { 
    font-weight: 900;
    font-size: 28px;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
} 
.logo img{
    width: 40px;
    /* height: 100px; */
}
.logo span{
    color: #f3c017;
}
.logo a:hover {
    opacity: 0.8;
}


.menu {
    display: flex;  
}
.menu a{
    color: #ffffff;
    text-decoration: none;  
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    padding: 7px 0;
    padding-right: 10px;
}
.menu a:hover{
    opacity: 0.8;
    text-decoration: underline;
}
.modal-content{
    border: 0;
    background-color: #443f3f;
}
.modal.fade {
    color: #ffffff;
}

.modal-header{
    background-color: #443f3f;
    border-color: #f3c017;
}
.modal-title{
    color: #f3c017;
    font-weight: 900;
    font-size: 40px; 
}
.close{
    background-color: #443f3f;
    border: 0;
}
.close:active{
    outline: none;
}
.modal-body{
    background-color: #443f3f;
}
.form-control{
    background-color: #ffffff;
    border-color: #0e0e0f;
}
.form-control:focus{
    box-shadow: none;
    border-color: #0e0e0f;
}
.modal-footer{
    display: contents;  
}

.btn {
    margin: 0;
    list-style: none;

    color: #000000;
    text-decoration: none;  
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    padding: 7px 10px;
    border-radius: 4px;
    background-color: #f3c017;
    border: 0;
    outline: none;  
}
.btn:hover {
    opacity: 0.8;
}
.btn:focus{
    border: 0;
    outline: none;
    box-shadow: none;
}
.btn.add{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn.book{
    width: 100%;
}
.btn.unbook{
    width: 100%;
    background-color: white;
    opacity: 0.8;
}
.btn.unbook:hover{
    opacity: 1;
}
.btn.remove{
    width: 100%;
}
.btn.up{
    margin-right: 7px;
}

.btn.in {
    margin-right: 0;
    background-color: #ffffff;
    opacity: 0.8;
}
.btn.in:hover{
    opacity: 1;
}
.btn.ftr{
    background-color: #f3c017;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
}
.col {
    flex: 1 0 33.33%;
    padding-top: 12px;
    padding-bottom: 12px;
}
.card{
    background-color: rgb(29, 27, 28);
    border-radius: 4px;
    width: 100%;
}
.card-title{
    justify-content: center;
    align-items: center;
    display: flex;
}
.card-img-top{
    border-radius: 4px;
} 
.card-body{
    border-radius: 4px;
}
.card-title {
    color: #f3c017;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.3;
    text-align: center;
    background-color: #443f3f;
    border-radius: 4px;
}
.card-text{
    text-align: justify;
}
.list-group{
    border-radius: 4px;
}
.list-group-item{
    background-color: #443f3f;
}
.card-body {
    background-color: #443f3f;
}

.card-body.btn {
    display: contents;
} 
.card-link {
    background-color: #f3c017;
    border-radius: 4px;

    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    line-height: 65px;
    color: #0e0e0f;
    text-decoration: none;
}
.card-link:hover{
    opacity: 0.8;
    color: #0e0e0f;
}

.footer {
    height: 114px;
    width: 100%;
    background-color: #0e0e0f;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}
.footer::before{
    content: "";
    display: table;
}
.footer span {
    color: #fadb60; 
}





.table{
background-color: #443f3f;
color: #ffffff;
border-radius: 4px;
margin-bottom: 12px;
}
.table>tbody {
    vertical-align: middle;  
}
tbody{
    height:1px;  
    overflow:scroll;
}




