.btn {
    margin: 0;
    list-style: none;

    color: #000000;
    text-decoration: none;  
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    padding: 7px 10px;
    border-radius: 4px;
    background-color: #f3c017;
    border: 0;
    outline: none;  
}
.btn:hover {
    opacity: 0.8;
}
.btn:focus{
    border: 0;
    outline: none;
    box-shadow: none;
}
.btn.save{
    margin-top: 5px;
}
.btn.add{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn.book{
    width: 100%;
}
.btn.unbook{
    width: 100%;
    background-color: white;
    opacity: 0.8;
}
.btn.unbook:hover{
    opacity: 1;
}
.btn.remove{
    width: 100%;
}
.btn.up{
    margin-right: 7px;
}

.btn.in {
    margin-right: 0;
    background-color: #ffffff;
    opacity: 0.8;
}
.btn.in:hover{
    opacity: 1;
}
.btn.ftr{
    background-color: #f3c017;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
}