.logo a { 
    font-weight: 900;
    font-size: 28px;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
} 
/* .logo img{
    width: 40px;
    /* height: 100px; 
} */
.logo span{
    color: #f3c017;
}
.logo a:hover {
    opacity: 0.8;
}